.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  gap: 20px;
  list-style: none;
}

.gallery__item {
  width: calc(100vw / 4 - 20px * 3);
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__item img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 210px;
  object-fit: cover;
}
